<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <oracle.manageddataaccess.client>
    <version number="*">
      <implicitRefCursor>
        <storedProcedure schema="OG_ERP2" name="SEC_USER_LOGIN">
          <refCursor name="CUR_OUT">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USER_NO" providerType="Decimal" nativeDataType="Number"  />
            <metadata columnOrdinal="1" columnName="USER_CODE" providerType="NVarchar2" nativeDataType="NVarchar2" allowDBNull="true" />
            <metadata columnOrdinal="2" columnName="USER_EMAIL" providerType="NVarchar2" nativeDataType="NVarchar2" allowDBNull="true" />
            <metadata columnOrdinal="3" columnName="USER_NAME" providerType="NVarchar2" nativeDataType="NVarchar2" allowDBNull="true" />
            <metadata columnOrdinal="4" columnName="USER_PWD" providerType="NVarchar2" nativeDataType="NVarchar2" allowDBNull="true" />
            <metadata columnOrdinal="5" columnName="USER_PARENT_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="6" columnName="F_EMPLOYEE_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="7" columnName="F_COMPANY_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="8" columnName="ACTIVE_FROM" providerType="Date" nativeDataType="Date" allowDBNull="true" />
            <metadata columnOrdinal="9" columnName="ACTIVE_TO" providerType="Date" nativeDataType="Date" allowDBNull="true" />
            <metadata columnOrdinal="10" columnName="LAST_ACTION" providerType="NVarchar2" nativeDataType="NVarchar2" allowDBNull="true" />
            <metadata columnOrdinal="11" columnName="LAST_ACTION_TIME" providerType="Date" nativeDataType="Date" allowDBNull="true" />
            <metadata columnOrdinal="12" columnName="LAST_ACTION_USER_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="13" columnName="LAST_ACTION_LOGON_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="14" columnName="INSERT_TIME" providerType="Date" nativeDataType="Date" allowDBNull="true" />
            <metadata columnOrdinal="15" columnName="INSERT_USER_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="16" columnName="INSERT_LOGON_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="17" columnName="UPDATE_TIME" providerType="Date" nativeDataType="Date" allowDBNull="true" />
            <metadata columnOrdinal="18" columnName="UPDATE_USER_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="19" columnName="UPDATE_LOGON_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="20" columnName="IS_MIGRATED" providerType="Decimal" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="21" columnName="IS_VOID" providerType="Int16" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="22" columnName="IS_EXIST" providerType="Int16" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="23" columnName="IS_ACTIVE" providerType="Int16" nativeDataType="Number" allowDBNull="true" />
            <metadata columnOrdinal="24" columnName="ATTACH_FILE_LINK" providerType="Varchar2" nativeDataType="Varchar2" allowDBNull="true" />
            <metadata columnOrdinal="25" columnName="SERVER_TIME" providerType="Date" nativeDataType="Date" allowDBNull="true" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="OG_ERP2" name="SEC_USER_LOGONS_INSERT">
          <refCursor name="CUR_OUT">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="LOGON_NO" providerType="Decimal" nativeDataType="Number" allowDBNull="true"/>
          </refCursor>
        </storedProcedure>
      </implicitRefCursor>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="ERPEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.1.6:1521/ORCL;PASSWORD=OG_ERP2;USER ID=OG_ERP2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>