@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/shared/_content.cshtml"; 
}




   
<section class="content-header">
<h1>
System Board
<small></small>
</h1>
<ol class="breadcrumb">
<li><a href="~/home/index"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Dashboard</li>
</ol>

</section>





<!-- Main content -->
<section class="content">

<h2>Index</h2>


</section><!-- /.Main content -->